@import 'C:/Users/igork/UIUX/frontend/movies/node_modules/bootstrap/scss/bootstrap.scss';

$primary-text: black;
$secondary-text: grey;
$primary-background:rgb(235, 232, 232);
$secondary-background: rgb(248, 248, 248);

* {
    line-height: 1.33333333333;
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
}

body {
    background-image: $primary-background;
}



.footer {
    background-color: $primary-background;
}

.header {
    background-color: $primary-background;
}

.card-item {
    @extend .card;
    box-sizing: border-box;
    border: 4px solid transparent;
    z-index: 19;
    overflow: hidden;
    border-radius: 15px;
    max-height: 40rem;
}

.card-item-body {
    @extend .card-body;
    color: $primary-text;
    border: 1px solid black;
    border-top: none;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: $secondary-background;
    min-height: 0;
}

.card-item-title {
    @extend .card-title;
}

.card-item-text {
    @extend .card-text;
    color: $secondary-text;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.card-item-img, .card-item-img-top {
    @extend .card-img, .card-img-top;
    border-radius: 0px;
}

.card-detail {
    @extend .card;
    background-color: transparent;
    border: none;
}

@include media-breakpoint-down(lg) {
    .card-item-text {
        font-size: 1rem;
    }

    .card-item-title {
        font-size: 1.5rem;
    }
}

.nav-tabs .nav-link.active {
    border-color: transparent;
} 

.nav-tabs {
    border-width: 0px;
}

.no-decoration {
    text-decoration: none;
    cursor: pointer;
}

.pagination {
	width: fit-content;
	margin: auto;
	padding: 10px;
}

.card-detail {
    @extend .card;
}

.container-detail {
    @extend .container;
    background-color: $secondary-background;
}

.card-body-detail {
    @extend .card-body;
    padding: 1%;
}

.row-detail {
    @extend .row;
    padding-top: 1%;
}

@include media-breakpoint-down(xl) {
    .row-detail {
        display: block;
    }
}