@import 'C:/Users/igork/UIUX/frontend/movies/node_modules/bootstrap/scss/bootstrap.scss';

* {
    line-height: 1.33333333333;
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
}

.footer {
    background-color: #b6d8fa;
}

.header {
    background-color: #5ca7f2;
}

.card-body {
    background-color: #bcdaf7;
    color: #4198ef;
    min-height: 0;
}

.card {
    border: 3px solid #5ca7f2;
    border-radius: 2px;
    max-height: 40rem;
}

.card-img, .card-img-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

body {
    background-image: linear-gradient(#5ca7f2, #b6d8fa);

}

.card-text {
    color: #75a7d9;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

@include media-breakpoint-down(lg) {
    .card-text {
        font-size: 1rem;
    }

    .card-title {
        font-size: 1.5rem;
    }
}

.nav-tabs .nav-link.active {
    background-color: #5ca7f2;
    border-color: transparent;
    color: #0a559f;
} 

.nav-tabs {
    border-width: 0px;
}

.no-decoration {
    text-decoration: none;
    cursor: pointer;
}

.pagination {
	width: fit-content;
	margin: auto;
	padding: 10px;
}